---
# Thanks to clifford.rodriguez@dell.com and go to https://github.com/SkunkworksAutomation for all automation things for DPS
# also check out https://github.com/dell/ansible-datadomain

- name: "Configure PPDM to add asset source for Virtual Machines"
  hosts: localhost
  collections:
    - community.vmware
  become: no
  gather_facts: false

  vars:
  # Generate  unqiue uuid for POLICY-VM01
    rg1_uuid: "{{ lookup( 'password', '/dev/null length=32' ) | to_uuid }}"
    policy_name: POLICY-VM01


  vars_files:
    - var/credentials.yaml

  tasks:


# WAIT FOR HTTPS RESPONSE FROM POWERPROTECT DATA MANAGER
  - name: "( {{ppdm_host}} ): Wait for HTTPS connectivity"
    wait_for:
      host: "{{ppdm_host}}"
      port: 443
      state: started
      delay: 1
      sleep: 60
      timeout: 600
    register: waitforppdm
    

# AUTHENTICATE TO THE POWERPROTECT REST API & GRAB ACCESS TOKEN
  - name: "( {{ppdm_host}} ): Authenticate to PowerProtect DM Rest API"
    uri:
      url: "https://{{ ppdm_host }}:8443/api/v2/login"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body:
        username: "{{ ppdm_id }}"
        password: "{{ppdm_pwd}}"
      status_code: 200
    register: token

  - name:
    debug:
      var: token.json.access_token

# GET THE INITIAL CONFIGURATION ID
  - name: "( {{ppdm_host}} ): Get the initial PowerProtect configuration"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/configurations
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: GET
      validate_certs: no
      return_content: yes
      body_format: json
    register: config
  
  - name:
    debug:
      var: config.json.content[0].id
      

# GET THE CONFIG STATUS
  - name: "( {{ppdm_host}} ): Check the PowerProtect config status to see if it is complete"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/configurations/{{config.json.content[0].id}}/config-status
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: GET
      validate_certs: no
      return_content: yes
      body_format: json
    register: monitor
    until: monitor.status == 200 and monitor.json.percentageCompleted == 100
    retries: 180
    delay: 10


# ENABLE VMware and K8s ASSET SOURCE
  - name: "( {{ppdm_host}} ): Enable VMware AND k8S asset source"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/common-settings/ASSET_SETTING
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: PUT
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
          {
              "id": "ASSET_SETTING",
              "properties": [
                  {
                      "name": "enabledAssetTypes",
                      "type": "LIST",
                      "value": "VMWARE_VIRTUAL_MACHINE,KUBERNETES"
                  }
              ]
          }
      status_code: 200
    register: settings
    

# GET THE VCENTER CERTIFICATE
  - name: "( {{ppdm_host}} ): Get the vCenter Certificate using https://{{ppdm_host}}:8443/api/v2/certificates?host={{vcenter_host}}&port=443&type=Host"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/certificates?host={{vcenter_host}}&port=443&type=Host
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: GET
      validate_certs: no
      return_content: yes
      body_format: json
      #status_code: 200
    register: vc_cert
    # until: vc_cert.status == 200
    # retries: 90
    # delay: 10

  # - name:
  #   debug:
  #     var: vc_cert.json[0]

# ACCEPT THE VCENTER CERTIFICATE
  - name: "( {{ppdm_host}} ): Accept the vCenter certificate"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/certificates/{{vc_cert.json[0].id}}
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: PUT
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
          {
            "fingerprint": "{{vc_cert.json[0].fingerprint}}",
            "host": "{{vc_cert.json[0].host}}",
            "id": "{{vc_cert.json[0].id}}",
            "issuerName": "{{vc_cert.json[0].issuerName}}",
            "notValidAfter": "{{vc_cert.json[0].notValidAfter}}",
            "notValidBefore": "{{vc_cert.json[0].notValidBefore}}",
            "port": "{{vc_cert.json[0].port}}",
            "state": "ACCEPTED",
            "subjectName": "{{vc_cert.json[0].subjectName}}",
            "type": "{{vc_cert.json[0].type}}"
          }
      status_code: 200
    register: accept_vc_cert
    until: accept_vc_cert.status == 200
    retries: 90
    delay: 10

  - name:
    debug:
      var: accept_vc_cert.json

 #CREATE VCENTER CREDENTIALS
  - name: "( {{ppdm_host}} ): Create vCenter credentials"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/credentials
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
          {
              "type": "VCENTER",
              "username": "{{vcenter_id}}",
              "password": "{{vcenter_pwd}}",
              "name": "ADMINISTRATOR"
          }
      status_code: [200,201,403]
    register: vc_creds
    until: vc_creds.status == 200 or vc_creds.status == 201 or vc_creds.status == 403
    retries: 90
    delay: 10


  - name:
    debug:
      var: vc_creds.json

# ADD THE VCENTER SERVER
  - name: "( {{ppdm_host}} ): Add the vCenter server"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/inventory-sources
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
          {
            "type": "VCENTER",
            "name": "{{vcenter_host}}",
            "port": 443,
            "credentials": {
              "id": "{{vc_creds.json.id}}"
            },
            "address": "{{vcenter_host}}"
          }
      status_code: 201
    register: vcenter
  
  - name:
    debug:
      var: vcenter.json

  - name: "Pause for 60 seconds to stablize"
    ansible.builtin.pause:
      seconds: 60

# GET THE VCENTER INVENTORY SOURCE
  - name: "( {{ppdm_host}} ): Get the vCenter inventory source"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/inventory-sources?filter=name%20eq%20%22{{vcenter_host}}%22
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: GET
      validate_certs: no
      return_content: yes
      body_format: json
    when: activitystatus.json.result.status == "FAILED"
    register: vcenter

# START A MANUAL DISCOVERY
  - name: "( {{ppdm_host}} ): Start a manual discovery of vcenter"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/discoveries
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
          {
            "start":"/inventory-sources/{{vcenter.json.content[0].id}}",
            "level":"DataCopies"
          }
      status_code: 202
    when: activitystatus.json.result.status == "FAILED"
    register: discovery

  - name:
    debug:
      var: discovery.json
    when: activitystatus.json.result.status == "FAILED"

  - name: "Pause for 60 seconds for Initial Discovery for inventory source {{ vcenter_cluster }}"
    ansible.builtin.pause:
      seconds: 60


# GET THE ATTACHED POWERPROTECT DD SYSTEM
  - name: "( {{ppdm_host}} ): Get the attached PowerProtect DD system"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/storage-systems?filter=type%20eq%20%22DATA_DOMAIN_SYSTEM%22%20and%20name%20eq%20%22{{ddve_host}}.{{ad_domain}}%22
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: GET
      validate_certs: no
      return_content: yes
      body_format: json
    register: storage

# CREATE THE VIRTUAL MACHINE POLICY
  - name: "( {{ppdm_host}} ): Create the protection policy -> POLICY-VM01"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/protection-policies
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
        {
            "name": "POLICY-VM01",
            "description": "Protect VMWare Virtual Machines",
            "assetType": "VMWARE_VIRTUAL_MACHINE",
            "type": "ACTIVE",
            "encrypted": false,
            "enabled": true,
            "priority": 1,
            "dataConsistency": "CRASH_CONSISTENT",
            "passive": false,
            "forceFull": false,
            "details": {
                "vm": {
                    "protectionEngine": "VMDIRECT",
                    "metadataIndexingEnabled": true
                }
            },
            "stages": [
                {
                    "id": "{{ lookup( 'password', '/dev/null length=32' ) | to_uuid }}",
                    "type": "PROTECTION",
                    "passive": false,
                    "attributes": {
                        "vm": {
                            "excludeSwapFiles": false,
                            "disableQuiescing": true
                        },
                        "protection": {
                            "backupMode": "FSS"
                        }
                    },
                    "target": {
                        "storageSystemId": "{{ storage.json.content[0].id }}",
                        "dataTargetId": null,
                        "preferredInterface": "{{ storage.json.content[0].details.dataDomain.preferredInterfaces[1].networkAddress }}"
                    },
                    "slaId": null,
                    "sourceStageId": null,
                    "operations": [
                        {
                            "id": "{{ rg1_uuid }}",
                            "backupType": "SYNTHETIC_FULL",
                            "schedule": {
                                "frequency": "HOURLY",
                                "startTime": "2022-02-02T02:00:00.000Z",
                                "endTime": "2022-02-01T06:00",
                                "duration": "PT10H",
                                "interval": 1
                            }
                        }
                    ],
                    "retention": {
                        "unit": "DAY",
                        "storageSystemRetentionLock": false,
                        "interval": 7
                    },
                    "extendedRetentions": [
                        {
                            "selector": {
                                "operationId": "{{ rg1_uuid }}",
                                "backupType": "SYNTHETIC_FULL"
                            },
                            "retention": {
                                "storageSystemRetentionLock": false,
                                "unit": "DAY",
                                "interval": 5
                            }
                        }
                    ]
                }
            ],
            "filterIds": [],
            "credentials": null,
            "slaId": ""
        }
      status_code: 201
    register: add_rg1_policy

# CREATE THE VIRTUAL MACHINE RULE
  - name: "( {{ppdm_host}} ): Create the protection rule -> RULE-VM01"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/protection-rules
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
        {
            "name": "RULE-VM01",
            "description": "Protect Kubernetes VMWare Virtual Machines",
            "action": "MOVE_TO_GROUP",
            "actionResult": "{{add_rg1_policy.json.id}}",
            "inventorySourceType": "VMWARE_VIRTUAL_MACHINE",
            "category": "COMPOUND",
            "rules": [
                {
                    "name": "sub1_RULE-VM01",
                    "description": "Protect VMWare Virtual Machines",
                    "action": null,
                    "actionResult": null,
                    "category": "PRIMITIVE",
                    "inventorySourceType": null,
                    "conditionConnector": "AND",
                    "logicalOperator": "AND",
                    "conditions": [
                        {
                            "assetAttributeName": "attributes.vm.clusterName",
                            "operator": "EQUALS",
                            "assetAttributeValue": "",
                            "assetAttributeValues": [
                                "{{ vcenter_cluster }}"
                            ]
                        },
                        {
                            "assetAttributeName": "name",
                            "operator": "BEGINS_WITH",
                            "assetAttributeValue": "",
                            "assetAttributeValues": [
                                "DTW-"
                            ]
                        }
                    ],
                    "priority": null
                }
            ],
            "conditionConnector": "OR",
            "logicalOperator": "OR",
            "conditions": null,
            "priority": -1,
            "tenant": {
                "id": "00000000-0000-4000-a000-000000000000"
            }
        }
      status_code: 201
    register: add_rg1_rule


  - name: "Pause for 60 seconds for policy setup for {{ vcenter_cluster }}"
    ansible.builtin.pause:
      seconds: 60

# GET THE VIRTUAL MACHINE POLICY
  - name: "( {{ppdm_host}} ): Get the virtual machine protection policies LIKE {{policy_name}}"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/protection-policies?filter=name%20lk%20%22{{policy_name}}%25%22
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: GET
      validate_certs: no
      return_content: yes
      body_format: json
    register: policies

# START VIRTUAL MACHINE BACKUPS
  - name: "( {{ppdm_host}} ): Start backup for protection policies LIKE {{policy_name}}"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/protection-policies/{{item.id}}/protections
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
          {
              "assetIds": null,
              "stages": [
                  {
                      "id": "{{ item.stages[0].id }}",
                      "retention": {
                          "interval": 10,
                          "unit": "DAY"
                      },
                      "operation": {
                          "backupType": "FULL"
                      }
                  }
              ]
          }
      status_code: 202   
    with_items: "{{ policies.json.content | json_query( '[*]' ) }}"
    register: start_backups

# LOGOUT OF THE REST API
  - name: "( {{ppdm_host}}): Logout of the REST API"
    uri:
      url: https://{{ppdm_host}}:8443/api/v2/logout
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      status_code: 204

  - name: "Pause for 60 seconds"
    ansible.builtin.pause:
      seconds: 60    