- name: Data Domain Playbook.
  hosts: dd
  connection: local
  gather_facts: false

  vars_files:
    - vars/credentials.yaml

  tasks:

# DEPLOY THE DDVE IN VCENTER, didn't deploy the OVA because it takes too long configuring SSL keys on first boot
    - name: Deploy Virtual Machines
      vmware_guest:
        hostname: "{{ vc_hostname }}"
        username: "{{ vc_username }}"
        password: "{{vc_password }}"
        validate_certs: "{{ validate_certs }}"
        name: "{{ vmname }}"
        template: "{{ vm_template }}"
        datacenter: "{{ datacenter }}"
        esxi_hostname: "{{ esxi_host }}"
        folder: 'vm'
        datastore: "{{ datastore }}"
        state: poweredon

# WAIT FOR HTTPS RESPONSE FROM POWERPROTECT DATA DOMAIN
    - name: "( {{vmname}} ): Waiting for HTTPS connectivity."
      wait_for:
        host: "{{ddve_ip}}"
        port: 443
        state: started
        delay: 1
        sleep: 60
        timeout: 600
      register: waitforddve

    - name:  admin access
      dellemc.datadomain.adminaccess:
        state: show
