---
# Thanks to clifford.rodriguez@dell.com and go to https://github.com/SkunkworksAutomation for all automation things for DPS
# also check out https://github.com/dell/ansible-datadomain

- name: "Configure PPDM to Backup minecraft namespace and Virtual Machines master, worker-01, worker-02, worker-03"
  hosts: localhost
  collections:
    - community.vmware
  become: no
  gather_facts: false

  vars:
  vars_files:
    - credentials.yaml

  tasks:


# WAIT FOR HTTPS RESPONSE FROM POWERPROTECT DATA DOMAIN
  - name: " {{ddvmname}} - Waiting for HTTPS connectivity."
    wait_for:
      host: "{{ddve_ip}}"
      port: 443
      state: started
      delay: 1
      sleep: 60
      timeout: 600
    register: waitforddve


# WAIT FOR HTTPS RESPONSE FROM POWERPROTECT DATA MANAGER
  - name: "( {{ppdm_ip}} ): Wait for HTTPS connectivity"
    wait_for:
      host: "{{ppdm_ip}}"
      port: 443
      state: started
      delay: 1
      sleep: 60
      timeout: 600
    register: waitforppdm
    

# AUTHENTICATE TO THE POWERPROTECT REST API & GRAB ACCESS TOKEN
  - name: "( {{ppdm_ip}} ): Authenticate to PowerProtect DM Rest API"
    uri:
      url: "https://{{ ppdm_ip }}:8443/api/v2/login"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      body:
        username: "{{ ppdm_id }}"
        password: "{{ppdm_pwd}}"
      status_code: 200
    register: token

  - name:
    debug:
      var: token.json.access_token


  - name: "Add VMWARE & KUBERNETES Asset Source on {{ ppdm_ip }}"
    uri:
      url: "https://{{ppdm_host}}:8443/api/v2/common-settings/ASSET_SETTING"
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      status_code: 201
      body: |
        {
          "id": "ASSET_SETTING",
          "properties": [
              {
                  "name": "enabledAssetTypes",
                  "type": "LIST",
                  "value": "VMWARE_VIRTUAL_MACHINE,KUBERNETES"
              }
        ]
        }
    register: asset_sources


# create ppdm namespace
  - name: Create a k8s namespace ppdm
    kubernetes.core.k8s:
      name: ppdm
      api_version: v1
      kind: Namespace
      state: present

# Create a Service Account for PPDM
  - name: Create Service Account for PPDM
    kubernetes.core.k8s:
      state: present
      src: https://raw.githubusercontent.com/DTW2023/IaC/main/9%20-%20DPS/ppdm-user.yaml

# Generate Token for PPDM User
  - name: get token
    command: "kubectl -n ppdm create token ppdm-user"
    register: ppdm_token

# Show the token, this wiill be used to configure PPDM
  - name: Display Token
    debug:
      var: ppdm_token.stdout_lines[0]

  - name: "Add Credentials for Cluster {{ cluster_ip }} on {{ vmname }}"
    uri:
      url: "https://{{ ppdm_ip }}:8443/api/v2/credentials"
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      status_code: 201
      body: |
        {"type":"KUBERNETES","name":"{{ cluster_name }}","password":"{{ ppdm_token.stdout_lines[0] }}","method":"TOKEN"}
    register: kube_creds

  - name: kube_creds.json.id
    debug:
      var: kube_creds.json.id

  - name: kube_creds.json.secretId
    debug:
      var: kube_creds.json.secretId



  - name: "( {{ ppdm_ip }} ): Get Cert for Kubernetes cluster {{ cluster_ip }}"
    uri:
      url: "https://{{ ppdm_ip }}:8443/api/v2/certificates?host={{ cluster_ip }}&port={{ cluster_port }}&type=Root"
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: GET
      validate_certs: no
      return_content: yes
      # body: |
    register: kube_cert

  - name: kube_cert id
    debug:
      var: kube_cert.json[0].id

  - name: kube_cert fingerprint
    debug:
      var: kube_cert.json[0].fingerprint

    
  - name: "( {{ ppdm_ip }} ): Accept Cert for Kubernetes cluster {{ cluster_ip }}"
    uri:
      url: "https://{{ ppdm_ip }}:8443/api/v2/certificates/{{ kube_cert.json[0].id }}"
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: PUT
      validate_certs: no
      return_content: yes
      body_format: json
      body: |
         {"fingerprint":"{{ kube_cert.json[0].fingerprint }}","host":"{{ cluster_ip }}","id":"{{ kube_cert.json[0].id }}","issuerName":"CN=kubernetes","notValidAfter":"Tue Apr 16 22:40:50 EDT 2024","notValidBefore":"Mon Apr 17 22:40:50 EDT 2023","port":6443,"state":"ACCEPTED","subjectName":"CN=kube-apiserver","type":"HOST"}

  - name: "Add source for for cluster {{ cluster_ip }} on {{ vmname }}"
    uri:
      url: "https://{{ ppdm_ip }}:8443/api/v2/inventory-sources"
      headers:
        Authorization: "Bearer {{token.json.access_token}}"
        Content-Type: "application/json"
      method: POST
      validate_certs: no
      return_content: yes
      body_format: json
      status_code: 201
      body: |
        {"id":"","name":"{{ cluster_name }}","version":"","type":"KUBERNETES","lastDiscovered":"","address":"{{ cluster_ip}}","port":"{{ cluster_port }}","credentials":{"id":"{{ kube_creds.json.id }}"},"ssl":false,"details":{"k8s":{"vCenterId":null,"distributionType":"NON_VSPHERE","configurations":[]}},"_links":{}}
    register: kube_source


  - name: "Pause for 60 seconds for Initial Discovery for inventory source {{ cluster_name }}"
    ansible.builtin.pause:
      seconds: 60

#Create a ppdm-snapshot-storage-class-mapping for PPDM in namespace powerprotect
  - name: Create Service Account for PPDM in namespace powerprotect
    kubernetes.core.k8s:
      state: present
      src: https://raw.githubusercontent.com/DTW2023/IaC/main/9%20-%20DPS/snapshot-configmap.yaml

# LOGOUT OF THE REST API
#  - name: "( {{ ppdm_ip }}): Logout of the REST API"
#    uri:
#      url: "https://{{ ppdm_ip }}:8443/api/v2/logout"
#      headers:
#        Authorization: "Bearer {{token.json.access_token}}"
#        Content-Type: "application/json"
#      method: POST
#      validate_certs: no
#      return_content: yes
#      body_format: json
#      status_code: 204
