---
- hosts: all
  vars_files:
    - vars.yaml

  tasks:

    - name: Download CSM Observability Install Script
      when: inventory_hostname in groups['k8s_master']
      get_url:
        url: https://raw.githubusercontent.com/DTW2023/IaC/main/Misc/Dell%20CSM%20Observability%20install%20notes/script
        dest: /tmp/CSM-OB.sh

    - name: Running CSM Observability Install Script
      when: inventory_hostname in groups['k8s_master']
      command: "sh /tmp/CSM-OB.sh"

    - name: Remove CSM Observability Install Script
      ansible.builtin.file:
        path: //tmp/CSM-OB.sh
        state: absent

#    - name: Pause for "{{ app_pause_secs }}" seconds to build app
#      ansible.builtin.pause:
#        seconds: "{{ app_pause_secs }}"


# WAIT FOR HTTP RESPONSE FROM Grafana
    - name: "Waiting for HTTP connectivity."
      wait_for:
        host: "{{ grafana_ip }}"
        port: 80
        state: started
        delay: 1
        sleep: 60
        timeout: 600
      register: waitforddve

    - name: Import Grafana dashboard
      community.grafana.grafana_dashboard:
        grafana_url: "{{ grafana_url }}"
        grafana_user: "{{ grafana_user }}"
        grafana_password: "{{ grafana_password }}"
        state: present
        org_id: 1
        commit_message: Updated by ansible
        overwrite: yes
        path: "{{ item.url }}"
      loop: "{{ json_dashboard }}"
